<div id="first">
    <div class="wrap">
        <div class="first_wrap">
            <div class="flash" id="flash1">
                <div class="first_title"><span>Инвестируйте легко</span> и получайте доход<br><span style="color: #0962E8;">+51,9%</span> в год *</div>
                <div class="first_text">Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.</div>
                <div class="first_title2">Зарабатывайте на инвестировании <br> <span>легче и больше</span></div>
                <div class="first_text2">Подписывайтесь на лучшие стратегии, копируйте сделки профессиональных трейдеров в автоматическом режиме, зарабатывайте легко с минимальными рисками</div>
                <div class="btn_install first_btn_install">Установить приложение</div>
                <div class="first_buttons">
                    <div>
                        <div class="first_btn">
                            <img src="/images/google_play_bage.jpg" alt="Установить приложение">
                        </div>
                    </div>
                    <div>
                        <div class="first_btn">
                            <img src="/images/app_store_bage.jpg" alt="Установить приложение">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flash" id="flash2">
                <img class="first_block_background" src="/images/first_block.jpg" alt="">
                <img class="first_block_background_mobile" src="/images/first_block_mobile.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div id="second">
    <div class="wrap" style="max-width: 1080px;">
        <div class="second_wrap">
            <div class="flash" id="flash3">
                <img src="/images/second_block.jpg" alt="">
            </div>
            <div class="flash" id="flash4">
                <div style="max-width: 480px;">
                    <div class="second_title">Автоследование: <span>минимальные риски</span>, оптимальная доходность </div>
                    <div class="second_text">Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности.<br><br>Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.</div>
                </div>
            </div>
        </div>
    </div>
</div>